@font-face {
  font-family: "Times New Roman";
  src: "../fonts/times-new-roman.ttf";
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman";
}

header>nav{
  width: 100%;
  height: 70px;
  opacity: 0.7;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

header>nav>a{
  text-decoration: none;
  color: black;
  font-size: 23px;
  padding: 30px;
}

header>nav>img{
  height: 70px;
  margin-left: 300px;
}

header>nav>a:first-of-type{
  white-space: nowrap;
}

header>nav>a:last-of-type{
  margin-right: 300px;
}

header>nav>a:hover{
  text-decoration: underline;
}


#slides {
  position: relative;
  height: 800px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}
.showing {
  opacity: 1;
  z-index: 2;
}

.controls{
  z-index: 2;
  font-size: 100px;
  background: white;
  border: none;
  position: absolute;
  outline: none;
  height: 100px;
  width: 80px;
  background: url("../img/arrow.jpg") 60%;
  background-size: cover;
}

#next{
  top: 400px;
  right: 50px;
  transform: rotate(180deg);
}

#previous{
  top: 400px;
  left: 50px;
}

.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}
.slide:nth-of-type(1) {
  background: url("../img/slide1.jpg") no-repeat 0 30%;
  background-size: cover;
}
.slide:nth-of-type(2) {
  background: url("../img/slide2.jpg") no-repeat 0 30%;
  background-size: cover;
}
.slide:nth-of-type(3) {
  background: url("../img/slide3.jpg") no-repeat 0 30%;
  background-size: cover;
}
.slide:nth-of-type(4) {
  background: url("../img/slide4.jpg") no-repeat 0 10%;
  background-size: cover;
}
.slide:nth-of-type(5) {
  background: url("../img/slide5.jpg") no-repeat 0 30%;
  background-size: cover;
}

body>section:nth-child(2){
  height: 600px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}

body>section:nth-child(2)>div{
  height: 400px;
  width: 400px;
  font-size: 17px;
  font-family: "Times New Roman";
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}

body>section:nth-child(2)>div:first-child{
  background: #282828;
  color: white;
  padding: 0 20px;
  text-align: center;
}

body>section:nth-child(2)>div>h1{
  font-weight: normal;
  margin: 30px 0;
  display: inline-block;
  font-size: 30px;
  padding: 0 30px 20px 30px;
  box-shadow: inset 0 -0.1em white;
}

body>section:nth-child(2)>div:last-child{
  background: #69BD3B;
  padding: 0 20px;
  font-size: 23px;
}

body>section:nth-child(2)>div:last-child>h1{
  box-shadow: inset 0 -0.1em black;
}

body>section:nth-child(2)>div:last-child>p{
  text-align: left;
  padding-left: 20px;
}

body>section:nth-child(2)>div:last-child>p::first-letter{
  font-size: 30px;
  font-weight: bold;
}

body>section:nth-child(3){
  height: 600px;
  background: #282828;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0;
}

body>section:nth-child(3)>div:first-child{
  width: 25%;
  background: url("../img/img1.jpg") no-repeat;
  background-size: cover;
}

body>section:nth-child(3)>div:nth-child(2){
  width: 23%;
  background: url("../img/img2.jpg") no-repeat;
  background-size: cover;
}
body>section:nth-child(3)>div:nth-child(3){
  width: 17%;
  background: url("../img/img3.jpg") no-repeat;
  background-size: cover;
}
body>section:nth-child(3)>div:nth-child(4){
  width: 35%;
  background: url("../img/img4.jpg") no-repeat;
  background-size: cover;
}
body>section:nth-child(3)>div:nth-child(5){
  width: 20%;
  background: url("../img/img5.jpg") no-repeat 50%;
  background-size: cover;
}
body>section:nth-child(3)>div:nth-child(6){
  width: 30%;
  background: url("../img/img6.jpg") no-repeat;
  background-size: cover;
}
body>section:nth-child(3)>div:nth-child(7){
  width: 25%;
  background: url("../img/img7.jpg") no-repeat 0 10%;
  background-size: cover;
}
body>section:nth-child(3)>div:nth-child(8){
  width: 25%;
  background: url("../img/img8.jpg") no-repeat;
  background-size: cover;
}

.scale:hover{
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 1;
}

.scale:not(:hover){
  transform: scale(1);
  transition: 0.5s;
}

body>section:nth-child(4){
  height: 650px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

body>section:nth-child(4)>h1{
  margin: 30px 0;
  font-weight: normal;
  font-size: 35px;
}

body>section:nth-child(4)>div{
  width: 1300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body>section:nth-child(4)>div>section:nth-of-type(2){
  position: relative;
  top: 100px;
}

body>section:nth-child(4)>div>section>div{
  width: 350px;
  height: 250px;
}

body>section:nth-child(4)>div>section>h2{
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

body>section:nth-child(4)>div>section>p{
  text-align: center;
  margin-top: 10px;
}

body>section:nth-child(4)>div>section:first-of-type>div{
  background: url("../img/port1.jpg");
  background-size: cover;
}

body>section:nth-child(4)>div>section:nth-of-type(2)>div{
  background: url("../img/port2.jpg");
  background-size: cover;
}

body>section:nth-child(4)>div>section:nth-of-type(3)>div{
  background: url("../img/port3.jpg");
  background-size: cover;
}

body>section:nth-child(5){
  height: 500px;
  background: #282828;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

body>section:nth-child(5)>h1{
  font-weight: normal;
  font-size: 35px;
  color: white;
  margin: 60px 0;
}

body>section:nth-child(5)>div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1300px;
}

body>section:nth-child(5)>div>div{
  width: 350px;
  height: 230px;
}

body>section:nth-child(5)>div>div:first-child{
  background: url("../img/rns1.jpg") #282828;
  background-size: cover;
}

body>section:nth-child(5)>div>div:nth-child(2){
  background: url("../img/rns2.jpg") #282828;
  background-size: cover;
}

body>section:nth-child(5)>div>div:nth-child(3){
  background: url("../img/rns3.jpg") #282828;
  background-size: cover;
}

body>section:nth-child(6){
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

body>section:nth-child(6)>div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px 0;
  position: relative;
  border: 2px solid #282828;
  padding: 50px 150px;
  border-radius: 20px;
  width: 1200px;
}

body>section:nth-child(6)>div>p{
  font-size: 20px;
  margin-bottom: 3px;
}

body>section:nth-child(6)>div>p:last-child{
  margin-top: 40px;
}

body>section:nth-child(6)>div>button{
  position: absolute;
  border: none;
  background: #EAE600;
  padding: 20px;
  font-size: 27px;
  width: 350px;
  border-radius: 10px;
  right: 200px;
  top: 100px;
}

body>section:nth-child(7){
  height: 300px;
  background: #282828;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

body>section:nth-child(7)>h1{
  color: white;
  font-weight: normal;
  font-size: 30px;
}

body>section:nth-child(7)>button{
  border: none;
  background: #69BD3C;
  padding: 20px;
  font-size: 27px;
  width: 400px;
  height: 85px;
  border-radius: 10px;
}

body>section:nth-child(8){
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
}

body>section:nth-child(8)>h1{
  font-weight: normal;
  font-size: 30px;
}

body>section:nth-child(8)>div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
}

body>section:nth-child(8)>div>div{
  width: 200px;
}

body>section:nth-child(8)>div>div>h2{
  margin-bottom: 5px;
}

body>section:nth-child(8)>form{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

body>section:nth-child(8)>form>input, body>section:nth-child(8)>form>textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 8px;
}

body>section:nth-child(8)>form>input[type=submit]{
  width: 160px;
  border: none;
  background: #69BD3C;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

body>section:nth-child(9){
  background: #282828;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

body>section:nth-child(9)>div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

body>section:nth-child(9)>div>div{
  width: 50px;
  height: 50px;
}

body>section:nth-child(9)>div>div:first-child{
  background: url("../img/sprite.jpg") no-repeat -14px -76px;
  background-size: 300px;
}

body>section:nth-child(9)>div>div:nth-child(2){
  background: url("../img/sprite.jpg") no-repeat -14px -24px;
  background-size: 300px;
}

body>section:nth-child(9)>div>div:nth-child(3){
  background: url("../img/sprite.jpg") no-repeat -70px -76px;
  background-size: 300px;
}

body>section:nth-child(9)>p{
  color: white;
  font-size: 15px;
}

@media (max-width: 1000px) {
  #slides {
    height: 600px;
  }

  .controls{
    z-index: 2;
    font-size: 100px;
    background: white;
    border: none;
    position: absolute;
    outline: none;
    height: 100px;
    width: 80px;
    background: url("../img/arrow.jpg") 60%;
    background-size: cover;
  }

  #next{
    top: 300px;
    right: 0px;
    height: 70px;
    width: 60px;
  }

  #previous{
    top: 300px;
    left: 0px;
    height: 70px;
    width: 60px;
  }

  body>section:nth-child(2){
    width: 800px;
  }

  body>section:nth-child(2)>div{
    width: 350px;
  }

  body>section:nth-child(2)>div>h1{
    font-size: 16px;
  }
  body>section:nth-child(2)>div>p{
    font-size: 14px;
  }

  body>section:nth-child(3){
    height: 500px;
  }

  body>section:nth-child(4)>div{
    width: 800px;
  }

  body>section:nth-child(5)>div{
    width: 1000px;
  }

  body>section:nth-child(6)>div{
    transform: scale(0.8);
  }

  body>section:nth-child(8)>div{
    transform: scale(0.8);
  }
}

@media (max-width: 800px) {
  header>nav>a{
    font-size: 15px;
    padding: 10px;
  }

  body>section:nth-child(2){
    width: 600px;
  }

  body>section:nth-child(3){
    height: 400px;
  }
}
